#navigation {
	background-color: #64b5f6; /*#ee6e73*/
}

#menu_general {
	padding-left: 2rem;
}

.menu{
	list-style:none;
	float:left;
}
	
.menu li{
	position:relative;
	float:left;
}

.menu li a{
	color: black;
	text-decoration:none;
	display:block;
}

.menu li a:hover{
	background: lightblue; /*#df4a16*/
	color: #fff;
	-moz-box-shadow: 0 3px 10px 0 #CCC;
	-webkit-box-shadow: 0 3px 3px 0 blue;
	text-shadow: 0px 0px 5px #fff;
}

.menu li ul{
	position:absolute;
	background-color:#fff;
	display:none;
}
	
.menu li:hover ul, .menu li.over ul{
	display:block;
}
	
.menu li ul li{
	border: 1px solid #c0c0c0;
	display: block;
	width: 6.72rem;
}

.main_title {
    text-align: center;
}

#menu_logo {
	position: relative;
	float: right;
	height: 4.26rem;
	width: 4.26rem;
}