/* TAGs GERAIS */
html {
	scroll-behavior: smooth;
}

body {
	background-image: radial-gradient(circle at 4.55% 104.17%, #a9daca 0, #a5dbcf 3.33%, #a2dbd4 6.67%, #a0dbd9 10%, #9fdade 13.33%,
	#9fdae3 16.67%, #a0d9e7 20%, #a2d8eb 23.33%, #a6d7ee 26.67%, #aad6f0 30%, #aed5f2 33.33%, #b4d4f4 36.67%, #bad2f4 40%, #c0d0f4 43.33%,
	#c7cff3 46.67%, #cdcdf2 50%, #d3cbf0 53.33%, #d9caed 56.67%, #dfc8ea 60%, #e4c7e6 63.33%, #e9c6e2 66.67%, #edc5dd 70%, #f1c4d8 73.33%,
	#f3c3d3 76.67%, #f5c3ce 80%, #f6c3c9 83.33%, #f7c4c4 86.67%, #f7c4c0 90%, #f6c5bb 93.33%, #f4c6b7 96.67%, #f1c7b4 100%);
	padding: 0 !important;
	margin: 0 !important;
	/*height: 100vh;
	width:  100vw;*/
	overflow-x: hidden;
	font-family: 'Times New Roman', Times, serif;
}
/* FIM TAGs */

/* MENU */
.navigation {
	background-color: #64b5f6; /*#ee6e73*/
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 !important;
	width: 100vw;
	z-index: 9999;
}

.menu{
	list-style:none;
	float:left;
	z-index: 9999;
}
	
.menu li{
	position: relative;
	float:left;
}

.menu li a{
	text-align: center;
	color: black;
	text-decoration:none;
	display:block;
}

.menu li a:hover{
	background: #64b5f6; /*#df4a16*/
	color: #fff;
	-moz-box-shadow: 0 3px 10px 0 #CCC;
	-webkit-box-shadow: 0 0px 3px 0 blue;
	text-shadow: 0px 0px 5px #fff;
}

.menu li ul{
	position:absolute;
	background-color:#fff;
	display:none;
}
	
.menu li:hover ul, .menu li.over ul{
	display:block;
}
	
.menu li ul li{
	text-align: center;
	border: 1px solid #c0c0c0;
	display: block;
	width: 12rem;
}

.main-title {
    text-align: center;
	height: 3rem;
	width: 99.3vw;
}

#menu-logo {
	display: block;
	position: relative;
	float: right;
	height: 5rem;
	width: 6rem;
	padding-right: 1rem;
}

#logo-central {
	display: block;
	height: 5rem;
	width: 14rem;
}
/* FIM MENU */

/* SWITCH ENTRE LOGIN/CADASTRO */
.login-link {
	color: #64b5f6;
}

.login-link:hover {
	color: #0072cf;
}
/* FIM SWITCH */

/* CARDS INDEX */
.cartao {
	position: relative;
	background-color: white;
	-webkit-transition: -webkit-box-shadow .25s;
	transition: -webkit-box-shadow .25s;
	transition: box-shadow .25s;
	transition: box-shadow .25s, -webkit-box-shadow .25s;
	border-radius: 4px 4px 4px 4px;
	height: 31rem;
	border-radius: 10px 10px 10px 10px;
}

.cartao:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

div.conteudo{
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: calc(100vh - 4rem);/*100vh*/
	padding: 5rem;
	/*margin-top: 8rem;*/
}

.cartao .cartao-image {
  	position: relative;
}

.cartao .cartao-image img {
  	display: block;
  	border-radius: 10px 10px 10px 10px;
  	position: relative;
  	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	height: 31rem;
  	width: 35rem;
}
/* FIM CARDS INDEX */

/*CARDS QUEBRANDO */
div.conteudo-quebrando{
    display: flex;
    flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 99.3vw;
	height: calc(100vh - 15rem);
}

.cartao-quebrando {
	position: relative;
	background-color: white;
	-webkit-transition: -webkit-box-shadow .25s;
	transition: -webkit-box-shadow .25s;
	transition: box-shadow .25s;
	transition: box-shadow .25s, -webkit-box-shadow .25s;
	border-radius: 10px 10px 10px 10px;
	margin: 5rem 0 10rem 0;
	width: 30rem;
}

.cartao-quebrando .cartao-image-quebrando {
	position: relative;
}

.cartao-quebrando .cartao-image-quebrando img {
	display: block;
	border-radius: 10px 10px 10px 10px;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 40rem;
	width: 30rem;
}

.cartao-quebrando .cartao-action {
	background-color: inherit;
	border-top: 1px solid rgba(160, 160, 160, 0.2);
  	border-radius: 0px 0px 4px 4px;
	position: relative;
	padding: 16px 24px;
	font-size: 20px;
	word-wrap: break-word;
}
/* FIM CARDS QUEBRANDO */

/* RODAPE */
.rodape {
	color: #fff;
	background-color: #0072cf;/*#64b5f6*/
	padding: 0 !important;
	margin-bottom: 0 !important;
}

/*@media screen and (min-height: 888px) {
    .rodape-login {
        position: absolute;
        bottom: 0;
        left: 0;
    }
} */

.rodape-login {
	color: #fff;
	background-color: #0072cf;
	bottom: 0 !important;
	padding: 0 !important;
    left: 0;
    position: fixed;
}

.linhas {
	margin-bottom: 20px;
}

.links {
	padding-right: 10rem;
}

.links li {
	padding: 0.5rem;
}

.links h5 {
	display: flex;
	flex-direction: row;
}
  
.rodape-copyright {
	overflow: hidden;
	min-height: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
			justify-content: space-between;
			padding: 10px 0px;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(51, 51, 51, 0.08);
	width: 100vw;
}

.rodape-content {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	max-width: 1920px;
	width: 90%;
	justify-content: space-between;
	
}
.rodape-web {
	color: white;
	font-size: 18px;
}

.rodape-web:hover {
	color: black;
}

.rodape-content-copyright {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
	justify-content: space-between;
	color: white;
}

.rodape-text {
	font-size: 18px;
	text-align: justify;
	width: 70rem;
}

#rodape-cadastro {
	padding-top: 12rem;
	display: flex;
}

.rodape-imagem-box {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}

.rodape-imagem {
	display: flex;
	height: 2rem;
	width: 2rem;
}
/* FIM RODAPE */

/* BOTÃO VOLTAR AO TOPO */
.button-top {
    display: flex;
	float: right;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #64b5f6;
    text-decoration: none;
}
.button-top::after {
    content: "↑";
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 250ms;
}
.button-top:hover::after {
    margin-top:-8px;
}
/* FIM BOTÃO */

/* FLIP CARDS */
.flip-card {
	background-color: transparent;
	width: 35rem;
	height: 35rem;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-interno {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.5s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-interno {
	transform: rotateY(180deg);
}

.flip-card-frente, .flip-card-costas {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

.flip-card-frente {
	background-color: #bbb;
	color: black;
}

.flip-card-frente img {
	height: 35rem;
	width: 35rem;
}

.flip-card-costas {
	background-color: #64b5f6;
	color: white;
	transform: rotateY(180deg);
}

.flip-card-costas button {
	background-color: #0072cf;
  	border: none;
  	color: #fff;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
	cursor: pointer;
	transition-duration: 0.3s;
}

.flip-card-costas button:hover {
	background-color: #fff;
	border: 1px solid #0072cf;
	color: #0072cf;
}

.flip-card-costas p {
	font-size: 22px;
	text-align: justify;
	padding: 1rem;
}

.flip-card-costas ul {
	padding-top: 1rem;
}

.flip-card-costas li {
	font-size: 22px;
	text-align: justify;
	padding: 0rem 1rem 0rem 1rem;
}

.card-conteudo {
	height: 80%;
}

.card-botao {
	height: 20%;
}
/* FIM FLIP CARDS */

/* FLIP CARDS TIPOS DE VIOLÊNCIA */
.conteudo-tipos{
    display: flex;
    flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 99.3vw;
	height: calc(100vh - 20rem);
	margin-top: 3rem;
	margin-bottom: 5rem;
	padding: 0rem 5rem 0rem 5rem;
}

.flip-card-tipos {
	background-color: transparent;
	width: 35rem;
	height: 35rem;
	perspective: 1000px; /*3D effect*/
	border-radius: 50%;
}

.flip-card-tipos-interno {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.5s;
	transform-style: preserve-3d;
	border-radius: 50%;
}

.flip-card-tipos:hover .flip-card-tipos-interno {
	transform: rotateY(180deg);
	border-radius: 50%;
}

.flip-card-tipos-frente, .flip-card-tipos-costas {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	border-radius: 50%;
}

.flip-card-tipos-frente {
	background-color: #bbb;
	color: black;
	border-radius: 50%;
}

.flip-card-tipos-frente img {
	height: 35rem;
	width: 35rem;
	border-radius: 50%;
}

.flip-card-tipos-costas {
	background-color: #64b5f6;
	color: white;
	transform: rotateY(180deg);
	border-radius: 50%;
}

.flip-card-tipos-costas p {
	font-size: 22px;
	text-align: justify;
	padding: 1rem;
	border-radius: 50%;
}

.card-tipos-conteudo {
	width: 35rem;
	height: 35rem;
	border-radius: 50%;
	margin: auto;
	text-align: center;
	/*justify-content: center;
	align-items: center;*/
}

.left-shape{
	border-radius: 50%;
	shape-outside: polygon(
		0 0,
		100% 0,
	
		55% 5%,
		20% 20%,
		5% 35%,
	
		0 50%,
	
		5% 65%,
		20% 80%,
		55% 95%,
	
		100% 100%,
		0 100%
	);
	float: left;
	width: 50%;
	height: 100%;
	clip-path: polygon(
		0 0,
		100% 0,
	
		55% 5%,
		20% 20%,
		5% 35%,
	
		0 50%,
	
		5% 65%,
		20% 80%,
		55% 95%,
	
		100% 100%,
		0 100%
	);
}
  
.right-shape{
	border-radius: 50%;
	shape-outside: polygon(
		100% 0,
		0 0,
	
		45% 5%,
		80% 20%,
		95% 35%,
	
		100% 50%,
	
		95% 65%,
		80% 80%,
		45% 95%,
	
		0 100%,
		100% 100%
	);
	float: right;
	width: 50%;
	height: 100%;
	clip-path: polygon(
		100% 0,
		0 0,
	
		45% 5%,
		80% 20%,
		95% 35%,
	
		100% 50%,
	
		95% 65%,
		80% 80%,
		45% 95%,
	
		0 100%,
		100% 100%
	);
}

.card-tipos-texto {
	padding-top: 5rem;
	text-align: center;
}

.flip-card-tipos-costas button {
	background-color: #0072cf;
  	border: none;
  	color: #fff;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
	cursor: pointer;
	transition-duration: 0.3s;
}

.flip-card-tipos-costas button:hover {
	background-color: #fff;
	border: 1px solid #0072cf;
	color: #0072cf;
}
/* FIM FLIP CARDS TIPOS */

/* PÁGINA DIREITOS DAS CRIANÇAS */
.direitos-page{
    display: flex;
    flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 99.3vw;
	height: calc(100vh - 17rem);/*100vh*/
}

.video-direitos {
	height: 520px;
	width: 920px;
	border-radius: 5px;
}

.direitos-image img {
	height: 35rem;
	width: 60rem;
}



/* FIM DIREITOS */

/*

*/
