body {
	background-image: radial-gradient(circle at 4.55% 104.17%, #a9daca 0, #a5dbcf 3.33%, #a2dbd4 6.67%, #a0dbd9 10%, #9fdade 13.33%,
	#9fdae3 16.67%, #a0d9e7 20%, #a2d8eb 23.33%, #a6d7ee 26.67%, #aad6f0 30%, #aed5f2 33.33%, #b4d4f4 36.67%, #bad2f4 40%, #c0d0f4 43.33%,
	#c7cff3 46.67%, #cdcdf2 50%, #d3cbf0 53.33%, #d9caed 56.67%, #dfc8ea 60%, #e4c7e6 63.33%, #e9c6e2 66.67%, #edc5dd 70%, #f1c4d8 73.33%,
	#f3c3d3 76.67%, #f5c3ce 80%, #f6c3c9 83.33%, #f7c4c4 86.67%, #f7c4c0 90%, #f6c5bb 93.33%, #f4c6b7 96.67%, #f1c7b4 100%);
	margin: 0;
	height: 100vh;
	width:  100vw;
}

#navigation {
	background-color: #64b5f6; /*#ee6e73*/
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#menu-general {
	padding: auto;
}

.menu{
	list-style:none;
	float:left;
}
	
.menu li{
	position: relative;
	float:left;
}

.menu li a{
	text-align: center;
	color: black;
	text-decoration:none;
	display:block;
}

.menu li a:hover{
	background: #64b5f6; /*#df4a16*/
	color: #fff;
	-moz-box-shadow: 0 3px 10px 0 #CCC;
	-webkit-box-shadow: 0 0px 3px 0 blue;
	text-shadow: 0px 0px 5px #fff;
}

.menu li ul{
	position:absolute;
	background-color:#fff;
	display:none;
}
	
.menu li:hover ul, .menu li.over ul{
	display:block;
}
	
.menu li ul li{
	text-align: center;
	border: 1px solid #c0c0c0;
	display: block;
	width: 12rem;
}

.main-title {
    text-align: center;
}

#menu-logo {
	display: block;
	position: relative;
	float: right;
	height: 5rem;
	width: 5rem;
}

#logo-central {
	display: block;
	height: 5rem;
	width: 14rem;
}

.cards {
	margin-left: auto;
	margin-right: auto;
  	margin-bottom: 20px;
}

.cards:after {
	content: "";
	display: table;
	clear: both;
}
  
.cards .col {
	float: right;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	padding: 0 0.75rem;
	min-height: 1px;
}
  
.cards .col[class*="push-"], .cards .col[class*="pull-"] {
	position: relative;
}

.cards .col.s1 {
	margin-top: 10rem;
	width: 8.3333333333%;
	left: auto;
	right: auto;
}
  
.cards .col.s2 {
	margin-top: 10rem;
	width: 16.6666666667%;
	left: auto;
	right: auto;
}

.cards .col.s3 {
	margin-top: 10rem;
	left: auto;
	right: auto;
  }

.cards .col.s4 {
	margin-top: 10rem;
	left: auto;
	right: auto;
  }

.cards .col.s12 {
  	margin-top: 10rem;
  	width: 100%;
  	margin-left: auto;
  	left: auto;
  	right: auto;
}

.cards .col.m7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.cartao {
  	position: relative;
  	margin: 0.5rem 0 1rem 0;
  	background-color: white;
  	-webkit-transition: -webkit-box-shadow .25s;
  	transition: -webkit-box-shadow .25s;
  	transition: box-shadow .25s;
  	transition: box-shadow .25s, -webkit-box-shadow .25s;
  	border-radius: 2px;
}

.cartao .cartao-image {
  	position: relative;
}

.cartao .cartao-image img {
  	display: block;
  	border-radius: 2px 2px 0 0;
  	position: relative;
  	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	height: 25rem;
  	width: 25rem;
}

.cartao .cartao-action {
  	background-color: inherit;
  	border-top: 1px solid rgba(160, 160, 160, 0.2);
  	position: relative;
  	padding: 16px 24px;
}

div.container{
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 33%;
	left: auto;
	right: auto;
}

/*

*/